* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #191816;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

main {
    flex: 1;
}

#side-image {
    flex: 1
}

#logo {
    width: 115px;
    height: 28px;
    margin: 40px 40px 125px;
}

#form-background {
    height: 512px;
    min-width: 572px;
    background: #24221F;
    border-radius: 4px;
    color: white;

    margin: 0 74px;
    padding: 55px 119px;
}

header {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

legend {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #D4CCB6;
    margin-left: 10px;
}

header p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #AFB6C2;

    margin-top: 5px;
    text-align: left;
}

/* campo de email e senha */
.campoContainer {
    margin-top: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    position: relative;
}

input[type="email"],
input[type="password"] {
    height: 44px;
    width: 100%;
    margin-top: 5px;

    box-sizing: border-box;
    border: 1px solid #868686;
    border-radius: 4px;
    background: none;

    /* texto do placeholder */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #A9AFB9;
    padding: 12px 37px;

    display: flex;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border: 1px solid #FFC632;
    box-shadow: 0px 0px 0px 2px #FFDE88;
    outline: 0;
}

/* Icones do campo de email e senha */
.campoContainer div,
#eye {
    position: absolute;
    bottom: 12px;
    width: 20px;
    height: 20px;
}

.campoContainer div {
    left: 12px;
}

#eye {
    right: 12px;
}

#emailImg {
    background-image: url(./images/mail.svg);
}

#lockImg {
    background-image: url(./images/lock.svg);
}

input[type="email"]:focus+#emailImg {
    background-image: url(./images/mail-focus.svg);
}

input[type="password"]:focus~#lockImg {
    background-image: url(./images/lock-focus.svg);
}

/* campo senha */
.campoContainer:nth-child(3) {
    margin: 20px 0;
}

/* lembre-me */
#lembremeTxt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;

    color: #A9AFB9;

    width: 120px;
    height: 20px;

    display: flex;
}

span {
    display: flex;
    justify-content: space-between;
}

input[type="checkbox"] {
    width: 21px;
    height: 21px;
    border: 1px solid #868686;
    border-radius: 4px;

    margin-right: 5px;

    cursor: pointer;
    appearance: none;

    position: relative;
}

/* esqueci minha senha */
a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #FFC632;

    text-decoration: none;
}

/* Não tem uma conta? Registre-se */
p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #FFC632;
    text-align: center;
}

button {
    width: 100%;
    max-width: 334px;
    height: 51px;
    margin: 20px auto 14px auto;

    background: #FFC632;
    border: 0 solid;
    border-radius: 4px;

    padding: 12px 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: 0.015em;

    color: #473404;

    display: flex;
    justify-content: center;
}

.checkbox:before {
    content: '';
    opacity: 0;
    transition: all 100ms ease-in-out;
}

.checkbox:before {
    width: 100%;
    height: 100%;
    background: #FFC632;
    background-image: url(./images/check.svg);
    background-repeat: no-repeat;

    float: right;
}

.checkbox:checked:before {
    opacity: 1;
}